.class {
    width: 55%;
    margin: auto;
  }
  .mid_small{
    margin-left: -10%;
  }
  .navbar_small{
    height: 65px;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
.navbar_mid_small{
  display: flex;
  margin: 0 1rem;
  align-items: center;
  justify-content: center;
}
.navbar_mid_small li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
.navbar_mid_small li a{
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
.navbar_mid_small li a:hover,
.navbar_mid_small li a.active{
  color: #088178;
}
.navbar_mid_small li a.active::after,
.navbar_mid_small li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
   left: 20px; 
}

  .class__nameBox {
    width: 100%;
    background-color: #0a9689;
    color: white;
    height: 350px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    position: relative;
  }
  .class__name{
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 7%;
    top: 7%;
  }
  .class_id{
    position: absolute;
    right:4%;
    bottom: 2%;
  }
  .nameboximage{
    width: 100%;
    height: 100%;
  }
  
  .class__announce {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 6px -2px black;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 20px;
  }
  .class__announce > img {
    height: 50px;
    width: 50px;
    border-radius: 9999px;
  }
  .class__announce > input {
    border: none;
    padding: 15px 20px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    outline: none;
  }

  
.main__wrapper100 {
  margin-top: 5px;
  display: flex !important;
  cursor: pointer;
  align-items: center;
}
.main__wrapper100 > * {
  margin-right: 20px;
}
#filled-multiline-flexible {
  width: 50vw !important;
  height: 20vh !important;
}
.main__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main__buttons {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin-top: 20px;
}
.announcement__imageContainer > img {
  height: 50px;
  width: 50px;
  border-radius: 9999px;
}

@media only screen and (max-width: 842px) {
  .main__status {
    display: none;
  }
}

@media(max-width:799px){
  .class {
    width: 65%;
  }
  
  .class__nameBox {
    height: 250px;
  }
 
}

@media(max-width:499px){
  .class {
    width: 75%;
  }
  .class__name{
    font-size: 30px;
  }
  .class__nameBox {
    height: 80px;
    padding: 5px;
  }
  .class__announce {
    padding: 5px;
  }
  #filled-multiline-flexible {
    width: 50vw !important;
    height: 10vh !important;
  }
  .main__buttons {
    flex-direction: column;
  }
  .main__buttons >div{
    display: flex;
    justify-content: space-between;
  }
  .main__form {
    align-items: center;
}
.class_id{
  font-size: 13px;
}
.navbar_small {
    height: 45px;
  }    
  .navbar_mid_small li a{
    font-size: 14px;
  }
}
