.announcement_box{
  width: 100%;
  border-radius: 10px;
  border: 1px solid #adadad;
  margin-bottom: 20px;
  padding: 30px;
}
.announcement {
  padding: 30px;
  }
  /* .inputcomment{
    width: 70%;
  } */


  .Add_comments {
    display: flex;
    align-items: center;
    /* width: 100%; */
    padding: 30px;
    /* margin-bottom: px; */
    /* box-shadow: 0px 1px 6px -2px black; */
    justify-content: space-between;
    /* border-radius: 15px; */
    margin-top: 20px;
  }
  .Add_comments > img {
    height: 50px;
    width: 50px;
    border-radius: 9999px;
  }
  .Add_comments > input {
    border: none;
    padding: 15px 20px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    outline: none;
  }


  .announcement__informationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .announcement__infoSection {
    display: flex;
    align-items: center;
  }
  .announcement__nameAndDate {
    margin-left: 10px;
  }
  .announcement__name {
    font-weight: 600;
  }
  .announcement__date {
    color: #424242;
    font-size: 14px;
    margin-top: 2px;
  }
  .announcement__imageContainer > img {
    height: 50px;
    width: 50px;
    
    border-radius: 9999px;
  }
  .announcement__content {
    margin-top: 15px;
  }
  /* .Add_comments{
    display: flex;
    border: 1px solid #adadad;
    padding: 2%;
    border-radius: 10px;
  } */
  /* .comment_input{
    width: 100%;
  } */
  .imgcont{
    display: flex;
    justify-content: center;
  }
  .amt__img {
    height: 400px;
    width: 400px;
    object-fit: contain;
    margin-top: 15px;
  }

  @media(max-width:499px){
    .announcement{
      padding: 5px;
    }
    .amt__img {
      height: 200px;
      width: 200px;
      object-fit: contain;
    }
    .Add_comments {
      padding: 5px;
    }
    .Add_comments > input {
      padding: 1px 1px;
      margin-left: 0px;
      margin-right: 0px;
      font-size: 14px;
    }
  }